<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="unity"
				 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

	<connectionStrings>
		<add name="MSSQLSportStoreConnectionString"
			 connectionString="Data Source=ws164;Initial Catalog=SportStore;Persist Security Info=True;User ID=sa;Password=Password12"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity>">
		<assembly name="DomainModel" />
		<namespace name="DomainModel.Concrete" />
		<namespace name="DomainModel.Services" />
		
		<alias alias="IProductsRepository" type="DomainModel.Abstract.IProductsRepository, DomainModel" />		
		<alias alias="ConnectionStringTypeConverter" type="WebUI.ConnectionStringTypeConverter, WebUI" />
		<alias alias="HttpContextLifetimeManager" type="WebUI.Unity.HttpContextLifetimeManager, WebUI" />

		<container>
			<register type="IProductsRepository" mapTo="SQLProductsRepository">
				<lifetime type="HttpContextLifetimeManager" />
				<constructor>
					<param name="connectionStringSettings">
						<value value="MSSQLSportStoreConnectionString" typeConverter="ConnectionStringTypeConverter" />
					</param>
				</constructor>
			</register>
			<register type="IOrderSubmitter" mapTo="EmailOrderSubmitter">
				<constructor>
					<param name="smtpServerName">
						<value value="moscow.i.sigmaukraine.com"/>
					</param>
					<param name="mailFrom">
						<value value="Yuriy.Ivanchenko@sigmaukraine.com"/>
					</param>
					<param name="mailTo">
						<value value="Yuriy.Ivanchenko@sigmaukraine.com"/>
					</param>
				</constructor>
			</register>
		</container>
	</unity>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880">
				<credentials passwordFormat="SHA1">
					<user name="admin" password="E9FE51F94EADABF54DBF2FBBD57188B9ABEE436E"/>
				</credentials>
			</forms>			
		</authentication>

		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="WebUI.HtmlHelpers"/>
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

